body {
    background-color: #000;
}

h1 {
    font-size: 50px;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: rgb(248, 248, 248);
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: #45a049;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.slideshow li:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/1933900/pexels-photo-1933900.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}